[Unit]
Description=UWSGI instance to serve insulin-calculator
After=network.target

[Service]
User=nginx
Group=nginx
WorkingDirectory=/web/insulin-calculator.com/
Environment=”PATH=/web/insulin-calculator.com/venv/bin”
ExecStart=/web/insulin-calculator.com/venv/bin --ini /web/insulin-calculator.com/uwsgi-config.ini

[Install]
WantedBy=multi-user.target
