
{% extends 'base.html' %}

{% block content %}



<section class="pt-5 pb-5 pb-0">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-7 col-lg-5 ms-md-auto">
          <h1>About Insulin-Calculator</h1>
            <p class="text-h3">At Insulin Dose Calculator, we're more than just a team of developers or health enthusiasts; we're individuals who have faced the same challenges as you. We've experienced firsthand the uncertainties and anxieties that come with determining the right insulin dosage. It's not just about numbers, but about lives.</p>

            <p class="text-h3">Driven by our personal experiences, we set out to create a platform that makes insulin dose calculation simpler, clearer, and safer. We believe that no one should be left second-guessing when it comes to their health, especially in matters as critical as insulin dosage.</p>

            <p class="text-h3">With this in mind, we've poured our heart, expertise, and dedication into building this tool. We aim to offer you a safe haven for your health concerns, providing both guidance and a sense of community for everyone dealing with diabetes. It's a place where knowledge meets empathy, creating an environment that promotes well-being and understanding.</p>

            <p class="text-h3">We stand with you in every drop, in every calculation, and in every moment of uncertainty. Here's to a future where managing insulin doses becomes a seamless part of our lives. Together, we can make that future possible.</p>
          <h2>Join Our Mission</h2>
            <p class="text-h3">We're not just about numbers; we're about creating impact. If you share our vision and passion for a world where insulin dosing is a stress-free process, we invite you to join us. Whether it's through feedback, collaboration, or simply spreading the word, your support is invaluable.</p>
            <p class="text-h3">Thank you for trusting Insulin Dose Calculator. Together, we can shape a brighter, healthier future for all.</p>
        </div>
        <div class="col-10 col-sm-6 col-md-5 col-lg-4 m-auto pt-5 pt-md-0">
          <img alt="image" class="img-fluid br-0"
            src="{{ url_for('static', filename='water.png') }}">
        </div>
      </div>
    </div>
  </section>



{% endblock %}
