
{% extends 'base.html' %}

{% block content %}



<section class="pt-5 pb-5 bg-light">
  <div class="container">
    <div class="row mb-md-4">
      <div class="col-12 col-lg-8 text-center text-lg-start">
        <h3 class="text-primary small">Lorem ipsum</h3>
        <h2 class=" ">Lorem ipsum dolor magna</h2>
        <p class="lead">
          Lorem ipsum massa in auctor molestie, magna lorem semper mauris, a
          venenatis turpis purus vel metus.
        </p>
      </div>
    </div>
    <div class="row d-flex mb-5">
      <div class="col-10 mx-auto col-md-4">
        <div class="my-3 card card-body shadow p-4 ">
          <div
            class="row align-items-center d-flex text-md-center text-lg-start">
            <div class="col-12 col-sm-3 col-md-3 text-center px-0">
              <div class="icon-wrap text-primary my-3">
                <i
                  class="icon p-4 border-primary bg-light text-primary md-font-size rounded-circle fa fa-tint fa-lg"></i>
              </div>
            </div>
            <div class="col-12 col-md-9 mt-3 mt-lg-0">
              <h4 class="">
                Lorem ipsum dolor
              </h4>
              <p class=" mb-0">
                Praesent mollis, massa in auctor molestie
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-10 mx-auto col-md-4">
        <div class="my-3 card card-body shadow p-4">
          <div class="row align-items-center text-md-center text-lg-start">
            <div class="col-12 col-sm-3 col-md-3 text-center px-0">
              <div class="icon-wrap text-primary my-3">
                <i
                  class="icon p-4 border-primary bg-light text-primary md-font-size rounded-circle fa fa-lock fa-lg"></i>
              </div>
            </div>
            <div class="col-12 col-md-9 mt-3 mt-lg-0">
              <h4 class="">
                Etiam sed iaculis
              </h4>
              <p class="  mb-0">
                Praesent mollis, massa in auctor molestie
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-10 mx-auto col-md-4">
        <div class="my-3 card card-body shadow p-4">
          <div class="row align-items-center text-md-center text-lg-start">
            <div class="col-12 col-sm-3 col-md-3 text-center px-0">
              <div class="icon-wrap text-primary my-3">
                <i
                  class="icon p-4 border-primary bg-light text-primary md-font-size rounded-circle fa fa-mobile fa-lg"></i>
              </div>
            </div>
            <div class="col-12 col-md-9 mt-3 mt-lg-0">
              <h4 class="">
                Auctor molestie
              </h4>
              <p class="  sm-font-size text-dark-gray mb-0">
                Praesent mollis, massa in auctor molestie
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-3 align-items-center justify-content-center">
      <div class="col text-center">
        <a href="#"
          class="btn btn-primary  btn-rounded shadow py-3 px-5">Lorem
          Ipsum</a>
      </div>
    </div>
  </div>
</section>


{% endblock %}
