{% extends 'base.html' %}

{% block content %}

<section class="pt-5 pb-5 bg-light" style=" ">
    <div class="container pt-5 pb-5">
      <div
        class="row   justify-content-center header-h100 align-items-center">
        <div class="col-12 col-md-4 text-center">
          <form class="form-signin" method="post" action="{{ url_for('auth.login') }}">
            <img class="ml-md-3 mr-3 mr-md-0 order-1 img-fluid rounded  mb-4"
              src="/assets/avatar-c.png"
              alt="User Avatar">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            <label for="Username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control mt-3"
              placeholder="Username" required="" autofocus="">
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password"
              class="form-control mt-3" placeholder="Password" required="">
            <div class="checkbox mt-3 mb-3">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>
            <button class="btn btn-lg btn-primary w-100" type="submit"  value="Login">Sign
              in</button>
            <p class="mt-5 mb-3 text-muted">© 2023-2023</p>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
