
{% extends 'base.html' %}

{% block content %}

<section class="pt-5 pb-5">
    <div class="container ">
        <div class="row align-items-center d-flex justify-content-between">
      
<h2>Privacy Policy for Insulin-Calculator</h2>

<p>Last Updated: [Insert Date]</p>

<h2>1. Introduction</h2>
<p>Your privacy is crucial to us at Insulin Dose Calculator. This policy outlines how we handle and protect your personal data.</p>

<h2>2. Data We Collect</h2>
<p>We believe in collecting the minimal amount of data necessary. Here is what we collect:</p>
<ul>
    <li>Basic profile information, if registered (e.g., email, name).</li>
    <li>Device information and logs (e.g., IP address, device type, browser type).</li>
</ul>

<h2>3. How We Use Your Data</h2>
<p>Your data is only used to:</p>
<ul>
    <li>Provide, maintain, and improve the Service.</li>
    <li>Respond to your queries and support requests.</li>
    <li>Ensure security, prevent fraud, and debug issues.</li>
</ul>

<h2>4. Data Retention</h2>
<p>We only keep your data for as long as necessary to provide you with our services and for legitimate legal or business purposes.</p>

<h2>5. Sharing of Data</h2>
<p>We do not sell, trade, or rent your personal data. We might share it only in the following circumstances:</p>
<ul>
    <li>With your explicit consent.</li>
    <li>To comply with legal obligations or to protect our rights.</li>
</ul>

<h2>6. Your Rights</h2>
<p>You have the right to:</p>
<ul>
    <li>Access the data we have on you.</li>
    <li>Correct or update your data.</li>
    <li>Request the deletion of your data.</li>
</ul>

<h2>7. Security</h2>
<p>We implement robust security measures to ensure the safety of your data. However, no online transmission can guarantee absolute security. While we strive to protect your information, we cannot ensure its complete security.</p>

<h2>8. Cookies</h2>
<p>We use minimal cookies, only to enhance your user experience and not for tracking purposes.</p>

<h2>9. Changes to this Policy</h2>
<p>Occasionally, we may update this policy. You are encouraged to review it periodically. Your continued use of our service indicates your agreement to the updates.</p>

<h2>10. Contact</h2>
<p>If you have any questions regarding this Privacy Policy, please contact [Your Contact Information].</p>

</div>
</div>
</section>

{% endblock %}
